<!-- <form action="{{url_for('AddCart')}}" method="post">
    <input type="hidden" name="product_id" value="{{product.id}}">
    <button type="submit" class="btn btn-warning">Add cart</button>
    <label for="">Quantity: </label>
    <input type="number" name="Quantity" id="" value="1" min="1">
    {% set colors = productColor.color.split(,) %}
    <label for="colors">Colors: </label>
    <select name="colors" id="">
        {% for i in colors %}
        {set col = i.split(':') %}
        <option value="{{col[0]}}">{{col[0]}}</option>
        {% end for %}
    </select>
</form>
 -->
