{% extends 'base.html' %}
{% block title%}
    Add Product
{% endblock %}
{% block nav %}
<div class="nav-flex">
    <a href="/">Home</a>
    <a href="/info">My Account</a>
    <a href="/update_product">Edit Products</a>
    <a href="/addproducts">Add Products</a>
    <a href="/delete_product">Remove Products</a>
    <a href="/chat">Chat</a>
    <a href="/login">Sign-out</a>
</div>
{% endblock %}
{% block body %}

<div class="body">

    <form action="/addproduct" method="POST">
        <input type="text" name="Product Name" placeholder="Product Name" class="input_field"> <br>
        <input type="text" name="Description" placeholder="Description" class="input_field"> <br>
        <input type="text" name="Warranty Period" placeholder="Warranty Period" class="input_field"> <br>
        <input type="text" name="Number Of Items" placeholder="Number of Items" class="input_field"> <br>
        <input type="text" name="Price" placeholder="Price" class="input_field"> <br>
        <input type="text" name="Image URL" placeholder="Image URL 1" class="input_field"> <br>
        <input type="submit" value="Submit" class="input_submit">
    </form>
    
</div>

{% endblock %}
