<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">

    <title>Document</title>
</head>
<body>
    <header>
        <div class="header">
            <div class="logo">
                <img src="LogoNoBackground.png" alt="Logo">
                <span>Mom Eccommerce</span>
            </div>
            <ul>
                <li><a href="/index.html">HOME</a></li>
                <li><a href="/products.html">Products</a></li>
                <li><a href="/about.html">ABOUT</a></li>
            </ul>
        </div>
    </header>

{% endblock %}
{% block body %}


    <footer>
        <table>
            <center>
            <tr>
                <th><p>Site content</p></th>
                <th><p>Support</p></th>
                <th><p>Products</p></th>
                <th><p>About Us</p></th>
            </tr>
            </th>
            </center>
        </table>
    </footer>
</body>
</html>
