<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Base{% endblock %}</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <h1>MOM</h1>
        {% block nav %}
        {% endblock %}
        <hr>
    </header>
    {% block body %}
    {% endblock %}
    <main></main>
    <br><br><br>
    <footer class="footer">
        <div class="footercontainer">
          <div class="footeraddr">
            <h1>Copyright © MOM Ecommerce LLC</h1>
          </div>
          {% block a %}<a href="/login" class="footer__admin-signin">Vendor and Admin Dashboard</a>{% endblock %}
      </footer>
</body>
</html>