{% extends 'base.html' %}
{% block title%}
   Account Info
{% endblock %}
{% block nav %}
<div class="nav-flex">
    <a href="/">Home</a>
    <a href="/info">My Account</a>
    <a href="/products">Products</a>
    <a href="/chat">Chat</a>
    <a href="/orders">Orders</a>
    <a href="/login">Sign-out</a>
</div>
{% endblock %}
{% block body %}
<div class="body">
    <form action="/chat" method="POST">
        <input type="text" name="receiverUserName" placeholder="Vendor Name" class="input_field"> <br>
        <input type="text" name="text" placeholder="Type your message here" class="input_field"> <br>
        <input type="text" name="imageURL" placeholder="Image URL" class="input_field"> <br>
        <input type="submit" value="Login" class="input_submit">
    {% if error_message %}
        <div class="error">{{ error_message }}</div>
    {% endif %}
    {% if success_message %}
        <div class="error">{{ success_message }}</div>
    {% endif %}
    </form>
    <a href="/show_chat">View your messages</a>
</div>


{% endblock %}

