<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">

    <title>Document</title>
</head>

<div class='head'>
    <header class="main-header">
        <nav class="main-nav">

            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/products">PRODUCTS</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/register">REGISTER</a></li>
            </ul>
            <h2><br>
                "STOP BEING POOR" - Mr Moneybags
            </h2>
        </nav>
    </header>

</div>


    <div class="section1">
        <h3>Products</h3>
    </div>

<footer>
    <table>
        <center>
        <tr>
            <th><p>Site content</th>
            <th><p></p>Support</th>
            <th><p></p>Products</th>
            <th><p></p>About US</th>
        </tr>
        </th>
        </center>
    </table>
</footer>
</body>
</html>