<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">

    <title>Document</title>
</head>
<body>

<div class='head'>
    <header class="main-header">
        <nav class="main-nav">
            <div class="logo" src="LogoNoBackground.png">
                <p>M.O.M. </p>
            <ul>
                <li><a href="/index">HOME</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/about">ABOUT</a></li>

            </ul>
            <h2><br>
                <br>
                "STOP BEING POOR" - Mr Moneybags
            </h2>
        </nav>
    </header>

</div>

<div class="section1">
    <h3>Products</h3>
</div>

<footer>
    <table>
        <center>
        <tr>
            <th><p>Site content</p></th>
            <th><p>Support</p></th>
            <th><p>Products</p></th>
            <th><p>About Us</p></th>
        </tr>
        </th>
        </center>
    </table>
</footer>
</body>
</html>
