{% extends "base.html" %}
{% block title%}
    Log in
{% endblock %}
{% block nav %}
<div class="nav-flex">
    <a href="/">My Account</a>
    <a href="/">Log In</a>
</div>
{% endblock %}
{% block body %}

<div class="body">
    <form action="/login" method="POST">
        <input type="text" name="input" placeholder="username or email" class="input_field"> <br>
        <input type="text" name="password" placeholder="password" class="input_field"> <br>
        <input type="submit" value="Login" class="input_submit">
    {% if error_message %}
        <div class="error">{{ error_message }}</div>
    {% endif %}
    </form>
</div>

{% endblock %}