<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        {% block body %}
        {% block body %}
        {% for product in products %}
            <li>
                <strong>Product ID:</strong> {{ product['productID'] }}<br>
                <strong>Product Name:</strong> {{ product['title'] }}<br>
                <strong>Description:</strong> {{ product['description'] }}<br>
                <strong>Warranty Period:</strong> {{ product['warrantyPeriod'] }}<br>
                <strong>Number Of Items:</strong> {{ product['numberOfItems'] }}<br>
                <strong>Price:</strong> {{ product['price'] }}<br>
            </li>
        {% endfor %}
        {% endblock %}
    </ul>
</body>
</html>