

{% extends 'base.html' %}
{% block title%}
    Register an Account
{% endblock %}
{% block nav %}
<div class="nav-flex">
    <a href="/">My Account</a>
    <a href="/">Log In</a>
</div>
{% endblock %}
{% block body %}

<div class="body">
    <form action="/register" method="POST">
        <input type="text" name="name" placeholder="First and last name" class="input_field"> <br>
        <input type="text" name="email" placeholder="email" class="input_field"> <br>
        <input type="text" name="address" placeholder="Address" class="input_field"> <br>
        <input type="text" name="username" placeholder="Username" class="input_field"> <br>
        <input type="text" name="password" placeholder="Password" class="input_field"> <br>
        <select name="accountType" id="roles">
            <option value="">Select your role</option>
            <option value="user">user</option>
            <option value="vendor">vendor</option>
            <option value="admin">admin</option>
            </select><br>
        <input type="submit" value="Register" class="input_submit"> 
        <!-- a tag is white -->
        <a href="/login">Already have an account? Log in</a>
    </form>
</div>

{% endblock %}