{% block body %}
{% for i in show_chats %}
    <ul>
        <li>Message: {{i[1]}} </li>
        <li>Image: {{i[2]}} </li>
        <li>From: {{i[3]}} </li>
        <li>To: {{i[4]}} </li>

    </ul>
    <form action="/reply" method="POST">
        <input type="hidden" name="receiverUserName" value="{{ i[3] }}">
        <p>Reply:</p>
        <input type="text" name="reply" placeholder="Type your message here" class="input_field"> <br>
        <input type="submit" value="Send" class="input_submit">
    </form>
{% endfor %}
{% if success_message %}
<div class="error">{{ success_message }}</div>
{% endif %}
{% if error_message %}
<div class="error">{{ error_message }}</div>
{% endif %}

{% endblock %}